div class="container">
  <div class="content">
    <div class="row">
      <h2>Veuillez compléter vos informations </h2>
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="card-form">

          <% if current_user %>
            <%= simple_form_for @profile do |f| %>

              <%= f.error_notification %>
              <div class="form-inputs">

                <%= f.input :date_of_birth, label: "Date de naissance", order: [:day,:month, :year], prompt: { day: 'jour', month: 'mois', year: 'année' }, start_year: Date.today.year - 18, end_year: Date.today.year - 70, autofocus: true, required: true %>

                <%= f.input :adress, label: "Adresse",autofocus: true, placeholder: "1 route de la Reine", required: true %>
                <%= f.input :street_number, label: "Num",autofocus: true, required: true %>
                <%= f.input :route, label: "Rue",autofocus: true, required: true %>
                <%= f.input :locality, label: "Ville",autofocus: true, required: true %>
                <%= f.input :country, label: "Pays",autofocus: true, required: true %>


                <%= f.input :description, label: "Présentez-vous",autofocus: true, placeholder: "Bonjour, Je suis actuellement élève en seconde au lycée Notre dame de Boulogne. Je suis l’aînée d'une famille de 3 enfants et j'ai l'habitude de garder ma petite soeur de 4 ans. J'ai également fait plusieurs babysittings en soirée au cours de l'année : essentiellement des enfants d'amis de mes parents ....", required: false %>
                <%= f.input :school1, label: "Etablissement scolaire actuel",autofocus: true, placeholder: "Notre Dame de Boulogne" , required: false%>
                <%= f.input :school2, label: "Précédent établissement",autofocus: true, placeholder: "SFA" , required: false%>
                <%= f.input :club1, label: "Club ou association",autofocus: true, placeholder: "ACBB" , required: false%>
                <%= f.input :club2, label: "Autre club ou association",autofocus: true, placeholder: "club des loisirs" , required: false%>


            </div>


          <div class="form-actions">
            <%= f.button :submit, "Valider" %>
          </div>

            <% end %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

