
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="edit-profile" >
          <div class="card-form">
           <h2> Etape 1 = Veuillez compléter vos informations</h2>
            <p> Les  champs (*) doivent être obligatoirement complétés pour pouvoir proposer ses services </p>

           <% if current_user %>

            <%= simple_form_for @profile do |f| %>

              <%= f.error_notification %>
              <div class="form-inputs">

               <%= f.input :date_of_birth, label: "Date de naissance", order: [:day,:month, :year], prompt: { day: 'jour', month: 'mois', year: 'année' }, start_year: Date.today.year - 13, end_year: Date.today.year - 70, autofocus: true, required: true %>
                <% if flash[:error] %>
                  <p class="error"><%= flash[:error] %></p>
                <% end %>
                <%= f.input :adress, label: "Indiquez votre adresse complète",autofocus: true, placeholder: "1 rue de Billancourt, Boulogne", required: true%>
               <%= f.hidden_field :street_number, label: "Num" %>
               <%= f.hidden_field :route, label: "Rue"%>
                <%= f.input :locality, label: "Ville" %>
               <%= f.hidden_field :country, label: "pays"%>
               <%= f.hidden_field :longitude, label: "longitude"%>
               <%= f.hidden_field :latitude, label: "latitude"%>



                <%= f.input :phone, label: "Mobile",autofocus: true, placeholder: "06-10-10-10-10", hint: "Votre téléphone sera visible. Vous aurez plus de chances d'être contacté rapidement",required: false %>

                <%= f.input :description, label: "Présentez-vous",autofocus: true, placeholder: "Bonjour, Je suis actuellement élève en seconde au lycée Notre dame de Boulogne. Je suis l’aînée d'une famille de 3 enfants et j'ai l'habitude de garder ma petite soeur de 4 ans. J'ai également fait plusieurs babysittings en soirée au cours de l'année : essentiellement des enfants d'amis de mes parents ....", required: false %>

                <%= f.input :formation1, label: "Diplôme",autofocus: true, placeholder: "Diplôme obtenu" , required: false%>
                <%= f.input :formation2, label: "Autre diplôme",autofocus: true, placeholder: "Autre diplôme obtenu" , required: false%>
                <h2> Si vous êtes lycéen/étudiant</h2>
                <%= f.input :school1, label: "Etablissement scolaire fréquenté",autofocus: true, placeholder: "Notre Dame de Boulogne" , required: false%>



                </div>


            </div>


          <div class="form-actions">
            <%= f.button :submit, "Valider",class:"btn-edit2" %>
          </div>

            <% end %>


          <% end %>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>


