

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-login-new">
        <h2>Rejoindre Trust-in</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :first_name, label: "Prénom", required: true, autofocus: true, placeholder: "Alexander" %>
            <%= f.input :last_name, label: "Nom", required: true, placeholder: "Supertramp" %>
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :photo, label: "Votre photo" %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.input :password, label: "Mot de passe", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, label: "Confirmez votre mot de passe", required: true %>
            <%= f.input :newsletter, label: "J'accepte de recevoir la newsletter", as: :boolean  %>
            <%= f.input :agreement, label: "Je reconnais avoir lu le règlement et notre charte de protection de vos données personnelles ", as: :boolean, required: true  %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-green" %>
          </div>
        <% end %>


      </div>
    </div>
  </div>
</div>


