<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="title-groups">
      <h1> Bénéficiez des recommandations et bons plans de membres déjà inscrits </h1>
      <h4> <i class="far fa-lightbulb"></i>  Rejoignez les recommandations des membres pour vous simplifier le quotidien </h4>
    </div>
  </div>
</div>


 <div class="row">
   <div class="groups-list">
     <h3>    <i class="fas fa-user-plus" aria-hidden="true"></i>  SUGGESTIONS POUR VOUS </h3>

     <p> Invitez à partager vos recommandations respectives </p>

     <% if !@prospected_facebook_friends.blank? %>
       <!-- on pousse d'abord les amis facebook-->
       <p> <strong> Vous êtes amis Facebook </strong> </p>
         <%current_user.prospected_facebook_friends.each do |user| %>
         <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="one-group">
              <ul>
               <li>
                 <div class="one-to-add">
                   <div class="name-to-add">
                      <%= link_to profile_path (user.profile) do%>
                     <p><%= user.first_name %> <%= user.last_name.upcase %> <br>
                      ami Facebook </p>
                     <% end %>
                   </div>
                   <div class="invite-join">
                        <%= link_to want_join_group_path (user.groups.first) do %>
                       <i class="fas fa-user-plus" aria-hidden="true">rejoindre</i>
                       <% end %>
                  </div>
                   <div class="cancel-join">
                        <%= link_to not_want_join_group_path (user.groups.first) do %>
                     <i class="far fa-times-circle"></i>
                       <% end %>
                  </div>
                 </div>
               </li>
             </ul>
           </div>
         </div>
         <% end %>
   <div class="pagedeisgn">
   <%= paginate(@prospected_facebook_friends) %>
   </div>
  <% end %>
   </div>
 </div>


 <% if !@prospected_users.blank? %>
  <div class="row">
     <div class="groups-list">
       <p> <strong> --- </strong> </p>

       <% @prospected_users.each do |user| %>

       <!-- on pousse ensuite les personnes de la meme ville-->
 <% if !user.profile.school_child.blank? && user.profile.school_child.name == current_user.profile.school_child.name  %>

         <div class="col-xs-12 col-md-6 col-md-offset-3">
           <div class="one-group">
             <ul>
               <li>
                 <div class="one-to-add">
                   <div class="name-to-add">
                     <%= link_to profile_path (user.profile) do%>
                       <p> <%= user.first_name  %> <%= user.last_name.upcase  %><br>
                         <%= user.profile.school1%> <%= user.profile.school2%> </p>
                      <% end %>
                    </div>
                   <div class="invite-join">
                      <%= link_to want_join_group_path (user.groups.first) do %>
                     <i class="fas fa-user-plus" aria-hidden="true">rejoindre</i>
                     <% end %>
                   </div>
                    <div class="cancel-join">
                         <%= link_to not_want_join_group_path (user.groups.first) do %>
                      <i class="far fa-times-circle"></i>
                        <% end %>
                   </div>
                 </div>
               </li>
             </ul>
           </div>
         </div>
       <% end %>
       <% end %>
         <!-- on pousse ensuite les personnes de la meme ville-->
         <p> <strong> --- </strong> </p>
         <% @prospected_users.each do |user| %>
         <% if user.profile.locality == current_user.profile.locality %>
         <div class="col-xs-12 col-md-6 col-md-offset-3">
           <div class="one-group">
             <ul>
               <li>
                 <div class="one-to-add">
                   <div class="name-to-add">
                     <%= link_to profile_path (user.profile) do%>
                       <p> <%= user.first_name  %> <%= user.last_name.upcase  %>  <br>
                         <%= user.profile.locality  %> </p>
                      <% end %>
                    </div>
                   <div class="invite-join">
                      <%= link_to want_join_group_path (user.groups.first) do %>
                     <i class="fas fa-user-plus" aria-hidden="true">rejoindre</i>
                     <% end %>
                   </div>
                    <div class="cancel-join">
                         <%= link_to not_want_join_group_path (user.groups.first) do %>
                      <i class="far fa-times-circle"></i>
                        <% end %>
                   </div>
                 </div>
               </li>
             </ul>
           </div>
         </div>
       <% end%>
       <% end %>


       <% @prospected_users.each do |user| %>
       <% if user.profile.locality != current_user.profile.locality %>

         <div class="col-xs-12 col-md-6 col-md-offset-3">
         <div class="one-group">
           <ul>
             <li>
               <div class="one-to-add">
                 <div class="name-to-add">
                   <%= link_to profile_path (user.profile) do%>
                     <p> <%= user.first_name  %> <%= user.last_name.upcase  %> <br>
                       <%= user.profile.locality  %> </p>

                    <% end %>
                  </div>
                 <div class="invite-join">
                    <%= link_to want_join_group_path (user.groups.first) do %>
                   <i class="fas fa-user-plus" aria-hidden="true">rejoindre</i>
                   <% end %>
                 </div>
                  <div class="cancel-join">
                       <%= link_to not_want_join_group_path (user.groups.first) do %>
                    <i class="far fa-times-circle"></i>
                      <% end %>
                 </div>
               </div>
             </li>
           </ul>
         </div>
       </div>

     <% end %>
     <% end %>
   </div>
 </div>
 <% end %>


 <div class="next">
 <%= link_to prestations_path do %>
 <i class="fas fa-arrow-circle-right"> Ensuite : accéder aux services </i>
 <% end %>
 </div>

