
<div class="explication-groups">
  <div class="row">
    <div class="col-xs-12 ">
        <div class="title-groups">
          <h1>Bénéficiez des recommandations et bons plans de membres inscrits et partagez les vôtres </h1>
        </div>
    </div>
  </div>


</div>



<% if !@pending_users.empty? %>
  <div class="row">
    <div class="groups-list">
         <h3>  <i class="fas fa-users"></i> DEMANDES  <div class="btn navbar-notification">  <%= current_user.pending_users.size %> </div></h3>
          <div class="expli-partage">
            <p> Ces personnes ont demandé à partager leurs recommandations avec vous</p>
            <p> Si vous acceptez : vous aurez accès à toutes leurs recommandations et elles auront accès aux votres </p>
          </div>

      <% @pending_users.each do |user| %>
              <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="one-group">
                  <ul>
                    <li>
                      <div class="one-to-add">
                        <div class="name-to-confirm">

                          <%= link_to profile_path (user.profile) do %>
                            <p> <%= user.first_name  %> <%= user.last_name.upcase  %> </p>
                           <% end %>
                        </div>

                        <div class="confirm-join">
                         <%= link_to group_user_accept_join_path(current_user.groups.first, user), method: :put do %>
                           <p> confirmer</p>
                         <% end %>
                        </div>
                         <div class="cancel-join">
                              <%= link_to group_user_refuse_join_path(current_user.groups.first, user), method: :put do %>
                           <i class="far fa-times-circle"></i>
                             <% end %>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                </div>

              <% end %>

    </div>
  </div>
  <% end %>


  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fas fa-user-plus" aria-hidden="true"></i>  SUGGESTIONS POUR VOUS </h3>

      <p> Rejoignez les recommandations des membres pour vous simplifier le quotidien </p>

      <% if !@prospected_facebook_friends.blank? %>
        <!-- on pousse d'abord les amis facebook-->
        <p> <strong> Vous êtes amis Facebook </strong> </p>
          <%current_user.prospected_facebook_friends.each do |user| %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
             <div class="one-group">
               <ul>
                <li>
                  <div class="one-to-add">
                    <div class="name-to-add">
                       <%= link_to profile_path (user.profile) do%>
                      <p><%= user.first_name %> <%= user.last_name.upcase %> <br>
                       ami Facebook </p>
                      <% end %>
                    </div>
                    <div class="invite-join">
                         <%= link_to want_join_group_path (user.groups.first) do %>
                        <i class="fas fa-user-plus" aria-hidden="true">rejoindre</i>
                        <% end %>
                   </div>
                    <div class="cancel-join">
                         <%= link_to not_want_join_group_path (user.groups.first) do %>
                      <i class="far fa-times-circle"></i>
                        <% end %>
                   </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <% end %>
    <div class="pagedeisgn">
    <%= paginate(@prospected_facebook_friends) %>
    </div>
   <% end %>
    </div>
  </div>


  <% if !@prospected_users.blank? %>
   <div class="row">
      <div class="groups-list">
        <p> <strong> --- </strong> </p>

        <% @prospected_users.each do |user| %>

        <!-- on pousse ensuite les personnes de la meme ville-->
        <% if !user.profile.school_child.blank? && user.profile.school_child.name == current_user.profile.school_child.name  %>

          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="one-group">
              <ul>
                <li>
                  <div class="one-to-add">
                    <div class="name-to-add">
                      <%= link_to profile_path (user.profile) do%>
                        <p> <%= user.first_name  %> <%= user.last_name.upcase  %><br>
                          <%= user.profile.child_school%> <%= user.profile.child_school%> </p>
                       <% end %>
                     </div>
                    <div class="invite-join">
                       <%= link_to want_join_group_path (user.groups.first) do %>
                      <i class="fas fa-user-plus" aria-hidden="true">rejoindre</i>
                      <% end %>
                    </div>
                     <div class="cancel-join">
                          <%= link_to not_want_join_group_path (user.groups.first) do %>
                       <i class="far fa-times-circle"></i>
                         <% end %>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
        <% end %>
          <!-- on pousse ensuite les personnes de la meme ville-->
          <p> <strong> --- </strong> </p>
          <% @prospected_users.each do |user| %>
          <% if user.profile.locality == current_user.profile.locality %>
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="one-group">
              <ul>
                <li>
                  <div class="one-to-add">
                    <div class="name-to-add">
                      <%= link_to profile_path (user.profile) do%>
                        <p> <%= user.first_name  %> <%= user.last_name.upcase  %>  <br>
                          <%= user.profile.locality  %> </p>
                       <% end %>
                     </div>
                    <div class="invite-join">
                       <%= link_to want_join_group_path (user.groups.first) do %>
                      <i class="fas fa-user-plus" aria-hidden="true">rejoindre</i>
                      <% end %>
                    </div>
                     <div class="cancel-join">
                          <%= link_to not_want_join_group_path (user.groups.first) do %>
                       <i class="far fa-times-circle"></i>
                         <% end %>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        <% end%>
        <% end %>


        <% @prospected_users.each do |user| %>
        <% if user.profile.locality != current_user.profile.locality %>

          <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="one-group">
            <ul>
              <li>
                <div class="one-to-add">
                  <div class="name-to-add">
                    <%= link_to profile_path (user.profile) do%>
                      <p> <%= user.first_name  %> <%= user.last_name.upcase  %> <br>
                        <%= user.profile.locality  %> </p>

                     <% end %>
                   </div>
                  <div class="invite-join">
                     <%= link_to want_join_group_path (user.groups.first) do %>
                    <i class="fas fa-user-plus" aria-hidden="true">rejoindre</i>
                    <% end %>
                  </div>
                   <div class="cancel-join">
                        <%= link_to not_want_join_group_path (user.groups.first) do %>
                     <i class="far fa-times-circle"></i>
                       <% end %>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>



<% if !@pending_invited_users.empty? %>
  <div class="row">
    <div class="groups-list">
      <h3>    <i class="fas fa-user-plus" aria-hidden="true"></i>  EN ATTENTE </h3>
      <p> <strong> </strong></p>
      <p> Demandes de partage en attente de validation </p>
      <% @pending_invited_users.each do |user| %>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="one-group">
            <ul>
              <li>
                <div class="one-to-add">
                  <div class="name-to-add">

                   <p>  <%= user.first_name %> <%= user.last_name.upcase %> </p>

                   </div>

                </div>
              </li>
            </ul>
          </div>
        </div>

      <% end %>
    </div>
  </div>
<% end %>

<% if !@accepted_users.empty? %>
  <div class="row">
    <div class="groups-list">
      <h3>    <i class="far fa-address-book" aria-hidden="true"></i>  VOTRE RESEAU :</h3>


       <% @accepted_users.each do |user| %>
       <div class="col-xs-12 col-md-6 col-md-offset-3">
         <div class="one-group">
           <ul>
             <li>
               <div class="one-to-add">
                 <div class="name-to-add">

                  <p>  <%= user.first_name %> <%= user.last_name.upcase %> </p>

                  </div>
                 <div class="profile-acess">
                    <%= link_to profile_path (user.profile) do %>
                   <i class="far fa-user-circle" aria-hidden="true"></i>
                   <% end %>
                 </div>

               </div>
             </li>
           </ul>
         </div>
       </div>
       <% end %>
     </div>
  </div>
<% end %>




