
<div class="banner" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
url(<%= image_path 'boulognehome.png' %>);">
  <div class="banner-content">

    <div class="text-banner">
      <h1> Découvrez et partagez d'incroyables activités </h1>
      <h2> illuminez votre quotidien </h2>

    </div>
      <%= link_to "découvrir",events_path, :class => "btn btn-trust_large"  %>
  </div>

</div>

<div class="container">

  <div class="row">
    <div class="explication-concept">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
         <h2> Des expériences conviviales juste à côté de chez vous </h2>
          <div class="exempleservices">
              <p> Envie de trouver de nouvelles activités à partager entre amis, qui changent du restaurant, du cinéma ou du musée ? </p>
              <p> Envie de fédérer toute votre famille autour d’une activité conviviale, ludique et enrichissante, le tout à côté de chez vous ?</p>

             <p> Découvrez des expériences inoubliables à côté de chez vous. Des activités réalisées avec des artistes, artisans et professionnels les plus talentueux du quartier. </p>
          </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="explication-concept">
    <h2> Evènements à venir</h2>
     <div class="col-xs-12 col-sm-6">
        <div class="card-homepage" style="background:  url('<%= image_path 'yogaXS.jpg', width: 80, height:80, crop: :fill %>');">
              <%= link_to '', events_path, class:'card-link' %>
         </div>
     </div>
     <div class="col-xs-12 col-sm-6">
        <div class="card-homepage" style="background: url('<%= image_path 'yogaXS.jpg', width: 80, height:80, crop: :fill %>');">
              <%= link_to '', events_path, class:'card-link' %>
         </div>
      </div>

     </div>
  </div>

  <div class="separator">
      <span> </span>
      <span> </span>
      <span> </span>
  </div>

  <div class="row">
    <div class="explication-concept">
      <div class="col-xs-12">
       <h2> Des activités et des services pour se faire plaisir  </h2>
      </div>
    </div>


    <div class="col-md-4">
        <div class="feature-home">
          <div class="picto-home">
           <%= image_tag 'location.png' , height: 70, width: 70, crop: :fill %>
          </div>
          <div class="feature-header">
            <h3>Proximité</h3>
          </div>
          <div class="feature-body">
            <p> Des expériences avec les meilleurs experts locaux à découvrir juste à côté de chez vous </p>
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <div class="feature-home">
        <div class="picto-home">
         <%= image_tag 'share.png' , height: 70, width: 70, crop: :fill %>
        </div>
        <div class="feature-header">
          <h3>Convivialité</h3>
        </div>
        <div class="feature-body">
          <p> Des expériences qui sortent de l'ordinaire à découvrir et partager dans la bonne humeur </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="feature-home">
         <div class="picto-home">
          <%= image_tag 'coeur_red.png' , height: 70, width: 70, crop: :fill %>
         </div>
         <div class="feature-header">
           <h3>Qualité</h3>
         </div>
         <div class="feature-body">
           <p> Des expériences testées et adoubées par nos testeurs locaux pour leur caractère qualitatif et insolite. </p>
         </div>

       </div>
    </div>
    </div>
</div>

<div class="banner-end" style="background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'relax.jpg' %>);">
    <div class="text-banner">
      <h1> vivez des expériences inédites </h1>

    </div>
</div>



