

  <!-- Logo -->
  <%= link_to 'https://www.experimentup.com', class: "navbar-wagon-brand" do %>
  <h2> EXPERIMENT'UP</h2>
    <% end %>

    <br /><br /><br />

<div class="panier">
  <h2>PANIER </h2>
    <%= form_tag participation_charges_path(@participation) do %>
    <article>
      <ul>
        <li>
         <span>  <font size="+2"> <strong> Produit: </strong> <%= @participation.event_ref%> </span></font>
        </li>
        <li>
         <span>   <font size="+2"> <strong> Nombre de places: </strong> <%= @participation.quantity%> </font></span>
        </li>

      </ul>
      <ul> <font size="+2"> MONTANT TOTAL : <%= @participation.amount_cents/100%> euros</span> </font></ul>
     </article>

</div>
<br /><br /><br />
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Mon évènement"
    data-email="<%= current_user.email %>"
    data-description="<%= @participation.event_ref %>"
    data-amount="<%= @participation.amount_cents %>"
    data-currency="eur"></script>


<% end %>

