

  <!-- Logo -->
  <%= link_to 'https://www.experimentup.com', class: "navbar-wagon-brand" do %>
  <%= image_tag "logo-transparent.png", height: 150, id: 'logo-navbar' %>
    <% end %>

    <br />


  <h3>RECAPITULATIF DU PANIER </h3>
    <%= form_tag participation_charges_path(@participation) do %>

     <article>
         <label class="panier">
           <span>EVENEMENT: <%= @participation.event_ref %></span> <br />
           <span>NOMBRE DE PLACES: <%= @participation.quantity%></span> <br /> <br />
           <span><strong> MONTANT TOTAL : <%= @participation.amount_cents/100 %> euros </strong></span>

         </label>

       </article>


<br /><br /><br />
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="EXPERIMENT'UP"
    data-email="<%= @participation.last_name%>"
    data-name="<%= @participation.email %>"
    data-description="<%= @participation.event_ref %>"
    data-amount="<%= @participation.amount_cents %>"
    data-currency="eur"></script>


<% end %>
