
<div class="logo-charge">
  <!-- Logo -->
  <%= link_to 'https://www.experimentup.com', class: "navbar-wagon-brand" do %>
  <h2> EXPERIMENT'UP</h2>
    <% end %>
</div>

<div class="panier">
<h1>Panier </h1>



<%= form_tag participation_charges_path(@participation) do %>
  <article>
    <ul>
      <li>
      <span>Produit: <%= @participation.event_ref%> </span>

      </li>
      <li>
       <span>Nombre de places: <%= @participation.quantity%> </span>
      </li>

    </ul>
    <ul> MONTANT TOTAL : <%= @participation.amount_cents/100%> euros</span></ul>
   </article>
</div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Mon évènement"
    data-email="<%= current_user.email %>"
    data-description="<%= @participation.event_ref %>"
    data-amount="<%= @participation.amount_cents %>"
    data-currency="eur"></script>


<% end %>

